<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Club House Lobby</title>
  </head>
  <body>
    <h1>Welcome to our club house !</h1>
    <% if (locals.user && locals.user.status === true) {%>
    <h2>You're connected, <%= user.firstname %> !</h2>
    <a href="/form-message">Write a message</a>
    <% if(locals.posts && locals.posts[0]){ %>
    <div
      style="
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 2rem;
      "
    >
      <% posts.forEach(p => { %>
      <div
        style="
          border: 1px black solid;
          margin-bottom: 15px;
          margin-top: 25px;
          padding: 10px;
        "
      >
        <p>
          <%= `${p.date.getDate()}/0${p.date.getMonth() +
          1}/${p.date.getFullYear()}\,
          ${p.date.getHours()}h${p.date.getMinutes()}` %>
        </p>
        <p><%= p.firstname %></p>
        <p><%= p.text %></p>
        <form action="/posts/<%= p.id %>/delete" method="post">
          <button type="submit">Delete</button>
        </form>
      </div>

      <% }) %>
    </div>

    <% } %> <% } else if(locals.user && locals.user.status !== true) { %>
    <a href="/secretaccess">Go enter the secret access</a>
    <%} else { %>
    <a href="/signup">Sign up</a>
    <a href="/signin">Log in</a>
    <% } %>
    <form action="/logout" method="post">
      <button type="submit">Log out</button>
    </form>
  </body>
</html>
