<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
  </head>
  <body>
    <h1>Sign up form</h1>
    <% if (locals.message) {%>
    <p><%= message.auth_err %></p>
    <% } %>
    <form
      action="/signup"
      method="post"
      style="
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 10px;
      "
    >
      <% if (locals.errors) {%>
      <p style="color: red"><%= errors.firstname %></p>
      <% } %>
      <label for="firstname">First name</label>
      <input type="text" name="firstname" id="firstname" />

      <% if (locals.errors) {%>
      <p style="color: red"><%= errors.lastname %></p>
      <% } %>
      <label for="lastname">Last name</label>
      <input type="text" name="lastname" id="lastname" />

      <% if (locals.errors) {%>
      <p style="color: red"><%= errors.email %></p>
      <% } %>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />

      <% if (locals.errors) {%>
      <p style="color: red"><%= errors.password %></p>
      <% } %>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />

      <% if (locals.errors) {%>
      <p style="color: red"><%= errors.confirm_password %></p>
      <% } %>
      <label for="confirm_password">Confirm your password</label>
      <input type="password" name="confirm_password" id="confirm_password" />
      <button style="background-color: aqua">Sign up!</button>
    </form>
  </body>
</html>
